.weekDays-selector input {
  display: none!important;
}

.weekDays-selector input[type=checkbox] + label {
  display: inline-block;
  background: #e6e6e6;
  border-radius: 15px;
  height: 28px;
  width: 28px;
  line-height: 28px;
  font-size: 13px;
  margin-right: 6px;
  text-align: center;
  cursor: pointer;
}

.weekDays-selector input[type=checkbox]:checked + label {
  background: #0994ff;
  color: #ffffff;
  font-size: 13px;
}